# Firebase Authentication & Analytics Credentials
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDDbdTCttRxI-mcClI1GLeQY0K0f4CBTsY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=brindavanam-9659c.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=brindavanam-9659c
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=brindavanam-9659c.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=825097155994
NEXT_PUBLIC_FIREBASE_APP_ID=1:825097155994:web:c84140c6bddaa044043623
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-JN0NS73BF6

# Razorpay Payment Gateway Credentials
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_your_razorpay_key_id

# Google reCAPTCHA Key
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LcpqGstAAAAAMBOybBtJPFQ2aMtBfLmsUT9AAtB

# Google Apps Script Deployment Web App URL
NEXT_PUBLIC_GAS_WEB_APP_URL=https://script.google.com/macros/s/AKfycbx_EXAMPLE_DEPL_ID/exec
