# dependencies
/node_modules
/.pnpm
/.yarn

# Next.js build output
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files (DO NOT PUSH SECRETS TO GITHUB)
.env*.local
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE & OS files
.DS_Store
*.pem
.idea/
.vscode/
